<h2>Quiz 1 : Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print('Hello world PYTHON')

Hello world PYTHON

Expected Output : 

Hello World Python

<h2>Quiz 2 : Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
a = int(input('masukkan nilai a '))
b = int(input('masukkan nilai b '))
jumlah = a+b
kurang = a-b
kali = a*b
bagi = float(a)/float(b)
print(jumlah)
print(kurang)
print(kali)
print(bagi)

masukkan nilai a 5
masukkan nilai b 3
8
2
15
1.6666666666666667

<h2>Quiz 3 : Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
a = 5
b = 4
print(int(a/b))
print(float(a)/float(b))

1
1.25

<h2>Quiz 4 : String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [ ]:
firstname = 'Citra'
lasname = 'Fadhlika'
print('Hello sanbercode, saya '+ firstname + ' ' + lasname + '! saya siap belajar python data science.')

Hello sanbercode, saya Citra Fadhlika! saya siap belajar python data science.

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Quiz 5 : Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
p = 9.99999
q = 'the number : '
print(q + ...(p))

the number : 9.99999

Expected Output :

the number : 9.99999

In [ ]:
p = 9.99999
q = 'the number : '
print(q + str(p))

the number : 9.99999