<b>Note</b> : Pada kuis kali ini kita akan menggunakan data diamonds.csv yang bisa kalian download disini. setelah di download, kalian pindahkan data tersebut satu level dengan direktori file notebook ini.

In [ ]:
import pandas as pd
df = pd.read_csv('diamonds-1.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Columns Metadata :

carat : berat diamond

cut : kualitas diamond

color : warna diamond

clarity : level kemurnian diamonds

depth : tinggi dari diamond tabel

table : lebar  dari diamond tabel

price : harga diamond ($US)

x : panjang

y : lebar

z : kedalaaman

<h2>Quiz 1 : Process Grouping</h2>

Jelaskan prosess yang terjadi dalam grouping data menggungkan method <b>groupby()</b> dari pandas.

- Splitting : Memisahkan data kedalam suatu group berdasarkan kriteria tertentu.
- Applying : Melakukan suatu operasi terhadap sekumpulan data di group-group tersebut.
- Combining : Menggabungkan data menjadi suatu struktur baru

<h2>Quiz 2 : Grouping All Column</h2>
    
Group data diamond berdasarkan cut (kualitas), lakukan aggregasi dengan fungsi rata2.

Kemudian jawab pertanyaan berikut.
- Berapa harga rata2 dari diamond berkualitas Premium

In [ ]:
# code here
gr = df.groupby('cut').mean()
gr

              carat      depth      table  ...         x         y         z
cut                                        ...
Fair       1.046137  64.041677  59.053789  ...  6.246894  6.182652  3.982770
Good       0.849185  62.365879  58.694639  ...  5.838785  5.850744  3.639507
Ideal      0.702837  61.709401  55.951668  ...  5.507451  5.520080  3.401448
Premium    0.891955  61.264673  58.746095  ...  5.973887  5.944879  3.647124
Very Good  0.806381  61.818275  57.956150  ...  5.740696  5.770026  3.559801

[5 rows x 7 columns]

**jawaban**
4584.2577042999055

Expected Output :

![image.png](attachment:image.png)

<h2>Quiz 3 : Grouping Some Column base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan, dengan aggregasi pada column carat, table, dan price saja. dengan fungsi agregasi rata-rata.

Kemudian jawab pertanyaan berikut :
- Berapa harga diamond yang berkriteria premium dan berwarna J
- Berapa nilai dari carat diamond yang berkriteria very good dan berwarna H

Expected Output :

Note : gambar hanya sebagaian dari keseluruhan data

![image.png](attachment:image.png)

In [ ]:
# code here
gro = df.groupby(['cut','color'])['carat','table','price'].mean()
gro

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                    carat      table        price
cut       color
Fair      D      0.920123  58.969325  4291.061350
          E      0.856607  59.364732  3682.312500
          F      0.904712  59.453205  3827.003205
          G      1.023822  58.773248  4239.254777
          H      1.219175  58.696370  5135.683168
          I      1.198057  59.237143  4685.445714
          J      1.341176  58.917647  4975.655462
Good      D      0.744517  58.541541  3405.382175
          E      0.745134  58.779957  3423.644159
          F      0.775930  58.910891  3495.750275
          G      0.850896  58.471986  4123.482204
          H      0.914729  58.611111  4276.254986
          I      1.057222  58.773946  5078.532567
          J      1.099544  58.813029  4574.172638
Ideal     D      0.565766  55.965632  2629.094566
          E      0.578401  55.967461  2597.550090
          F      0.655829  55.924203  3374.939362
          G      0.700715  55.902375  3720.706388
          H      0.799525  55.965843  3889.334831
          I      0.913029  56.021357  4451.970377
          J      1.063594  56.012612  4918.186384
Premium   D      0.721547  58.718964  3631.292576
          E      0.717745  58.779461  3538.914420
          F      0.827036  58.679279  4324.890176
          G      0.841488  58.702360  4500.742134
          H      1.016449  58.792034  5216.706780
          I      1.144937  58.771849  5946.180672
          J      1.293094  58.874752  6294.591584
Very Good D      0.696424  58.041309  3470.467284
          E      0.676317  58.038875  3214.652083
          F      0.740961  57.848429  3778.820240
          G      0.766799  57.784428  3872.753806
          H      0.915948  57.903015  4535.390351
          I      1.046952  58.105150  5255.879568
          J      1.133215  58.277729  5103.513274

jawaban

6294.591584

0.915948

Expected Output : 

![image.png](attachment:image.png)

<h2>Quiz 4 : Group By Multiple Aggregate Base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan kemudian aggregasi objek group by nya dengan fungsi rata2 dan median.

Kemudian Jawab Pertanyaan berikut :

- Berapa nilai median dari harga diamond berkualitas good dan berwarna F

In [ ]:
grou = df.groupby(['cut','color']).mean().median()
grou

carat       0.856607
depth      61.841279
table      58.679279
price    4239.254777
x           5.909063
y           5.862824
z           3.695270
dtype: float64

2647.0

Expected Output :

Note : gambar hanya sebagaian dari keseluruhan data

![image.png](attachment:image.png)

<h2>Quiz 5 : Group By With Different Aggregation for specific Column</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian aggreagate dengan fungsi max pada column price dan fungsi min pada column carat.

Kemudian Jawab Pertanyaan berikut :

- Berapa nilai max dari price untuk diamond berkualitas Ideal

Expected Output :

![image.png](attachment:image.png)

In [ ]:
# code here
group = [df.groupby(['cut'])['price'].max(),df.groupby(['cut'])['carat'].min()]
group

[cut
 Fair         18574
 Good         18788
 Ideal        18806
 Premium      18823
 Very Good    18818
 Name: price, dtype: int64, cut
 Fair         0.22
 Good         0.23
 Ideal        0.20
 Premium      0.20
 Very Good    0.20
 Name: carat, dtype: float64]

18806

<h2>Quiz 6 : Group By With Custom Function</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian lakukan aggregasi dengan fungsi standar deviasi pada column carat dan fungsi rentang nilai antara max dan min pada column price.

Kemudian jawab pertanyaan berikut :
- Berapa selisih harga tertinggi dan terendah dari diamond berkualitas Premium

Expected Output :

![image.png](attachment:image.png)

In [ ]:
groupi = [df.groupby(['cut'])['carat'].std(),df.groupby(['cut'])['price'].max()-df.groupby(['cut'])['price'].min()]
groupi

[cut
 Fair         0.516404
 Good         0.454054
 Ideal        0.432876
 Premium      0.515262
 Very Good    0.459435
 Name: carat, dtype: float64, cut
 Fair         18237
 Good         18461
 Ideal        18480
 Premium      18497
 Very Good    18482
 Name: price, dtype: int64]

jawaban

18497